In [2]:
import market
import pandas
from scipy.stats.mstats import gmean
from operator import itemgetter

In [9]:
a = {}
for country in market.JST.Countries:
    if country != 'JPN': continue
    m = market.JST(country)
    tr = m.data[(m.data['year'] >= 1987) & (m.data['year'] <= 2000)]
    tr = ((1 + tr['eq_tr']) / (1 + tr['cpi'])) - 1
    r = gmean([1+e for e in tr]) - 1
    a[country] = r

In [10]:
for k, v in sorted(a.items(), key=itemgetter(1)):
    print(k,v)

JPN 0.007930412314531843

In [11]:
deu = market.JST('JPN')

In [12]:
deu.data.sort_values(by='eq_tr', ascending=False).head()

      year  iso     eq_tr   bond_tr       cpi
1255  1949  JPN  1.130685  0.055200  0.318874
1222  1916  JPN  0.955091  0.052729  0.080376
1192  1886  JPN  0.945161  0.182888 -0.118136
1212  1906  JPN  0.860787  0.065172  0.019716
1258  1952  JPN  0.810193  0.055000  0.049895

In [34]:
deu.data[]

year             1926
iso               DEU
eq_tr          1.3776
bond_tr     0.0482683
cpi        0.00714286
Name: 938, dtype: object

In [ ]:
a = {}
for country in market.JST.Countries:
    if country != 'JPN': continue
    m = market.JST(country)
    tr = m.data[(m.data['year'] >= 1987) & (m.data['year'] <= 2000)]
    tr = ((1 + tr['eq_tr']) / (1 + tr['cpi'])) - 1
    r = gmean([1+e for e in tr]) - 1
    a[country] = r